batch_size: 32
epochs: 5
length_buckets:
- 0
- 10
- 20
- 30
- 40
- 50
- 60
lora_rank: 8
lr: 0.0002
max_length: 128
scheduler: linear_warmup
transformer: sentence-transformers/all-MiniLM-L6-v2
data_train_path: "data/processed/emobank_train.parquet"
data_val_path: "data/processed/emobank_val.parquet"
raw_data_path: "data/raw/emobank.csv"
model_checkpoint_path: "models/checkpoint/model_checkpoint.pth"